.header {
	padding: 18px 6px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media(max-width: 920px) {
	.header__logo {
		width: 124px
	}
}

@media(min-width: 1440px) {}